<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>SaveServelt</display-name>
    <servlet-name>SaveServelt</servlet-name>
    <servlet-class>com.sharath.servlet.SaveServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveServelt</servlet-name>
    <url-pattern>/SaveServelt</url-pattern>
  </servlet-mapping>
  <display-name>Servlet_Masala</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ReadServlet</display-name>
    <servlet-name>ReadServlet</servlet-name>
    <servlet-class>com.sharath.servlet.ReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadServlet</servlet-name>
    <url-pattern>/ReadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadByQty</display-name>
    <servlet-name>ReadByQty</servlet-name>
    <servlet-class>com.sharath.servlet.ReadByQty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadByQty</servlet-name>
    <url-pattern>/ReadByQty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadById</display-name>
    <servlet-name>ReadById</servlet-name>
    <servlet-class>com.sharath.servlet.ReadById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadById</servlet-name>
    <url-pattern>/ReadById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadByName</display-name>
    <servlet-name>ReadByName</servlet-name>
    <servlet-class>com.sharath.servlet.ReadByName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadByName</servlet-name>
    <url-pattern>/ReadByName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadByPrice</display-name>
    <servlet-name>ReadByPrice</servlet-name>
    <servlet-class>com.sharath.servlet.ReadByPrice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadByPrice</servlet-name>
    <url-pattern>/ReadByPrice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePriceByNameAndId</display-name>
    <servlet-name>UpdatePriceByNameAndId</servlet-name>
    <servlet-class>com.sharath.servlet.UpdatePriceByNameAndId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePriceByNameAndId</servlet-name>
    <url-pattern>/UpdatePriceByNameAndId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePriceByBrandAndId</display-name>
    <servlet-name>UpdatePriceByBrandAndId</servlet-name>
    <servlet-class>com.sharath.servlet.UpdatePriceByBrandAndId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePriceByBrandAndId</servlet-name>
    <url-pattern>/UpdatePriceByBrandAndId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteByPriceNameAndId</display-name>
    <servlet-name>DeleteByPriceNameAndId</servlet-name>
    <servlet-class>com.sharath.servlet.DeleteByPriceNameAndId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteByPriceNameAndId</servlet-name>
    <url-pattern>/DeleteByPriceNameAndId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteByPriceBrandAndId</display-name>
    <servlet-name>DeleteByPriceBrandAndId</servlet-name>
    <servlet-class>com.sharath.servlet.DeleteByPriceBrandAndId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteByPriceBrandAndId</servlet-name>
    <url-pattern>/DeleteByPriceBrandAndId</url-pattern>
  </servlet-mapping>
</web-app>