<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>ServletPowerBank</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SaveServlet</display-name>
    <servlet-name>SaveServlet</servlet-name>
    <servlet-class>com.sharath.servlet.SaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveServlet</servlet-name>
    <url-pattern>/SaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadServlet</display-name>
    <servlet-name>ReadServlet</servlet-name>
    <servlet-class>com.sharath.servlet.ReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadServlet</servlet-name>
    <url-pattern>/ReadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadServletByName</display-name>
    <servlet-name>ReadServletByName</servlet-name>
    <servlet-class>com.sharath.servlet.ReadServletByName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadServletByName</servlet-name>
    <url-pattern>/ReadServletByName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadServletById</display-name>
    <servlet-name>ReadServletById</servlet-name>
    <servlet-class>com.sharath.servlet.ReadServletById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadServletById</servlet-name>
    <url-pattern>/ReadServletById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>readServletByNameAndMah</display-name>
    <servlet-name>readServletByNameAndMah</servlet-name>
    <servlet-class>com.sharath.servlet.readServletByNameAndMah</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>readServletByNameAndMah</servlet-name>
    <url-pattern>/readServletByNameAndMah</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadByNameAndMah</display-name>
    <servlet-name>ReadByNameAndMah</servlet-name>
    <servlet-class>com.sharath.servlet.ReadByNameAndMah</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadByNameAndMah</servlet-name>
    <url-pattern>/ReadByNameAndMah</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePriceByNameAndMah</display-name>
    <servlet-name>UpdatePriceByNameAndMah</servlet-name>
    <servlet-class>com.sharath.servlet.UpdatePriceByNameAndMah</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePriceByNameAndMah</servlet-name>
    <url-pattern>/UpdatePriceByNameAndMah</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteByNameAndMah</display-name>
    <servlet-name>DeleteByNameAndMah</servlet-name>
    <servlet-class>com.sharath.servlet.DeleteByNameAndMah</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteByNameAndMah</servlet-name>
    <url-pattern>/DeleteByNameAndMah</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteByNamePriceAnMah</display-name>
    <servlet-name>DeleteByNamePriceAnMah</servlet-name>
    <servlet-class>com.sharath.servlet.DeleteByNamePriceAnMah</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteByNamePriceAnMah</servlet-name>
    <url-pattern>/DeleteByNamePriceAnMah</url-pattern>
  </servlet-mapping>
</web-app>